/**********************************/
/* Tab styles for legacy YUI tabs */
/**********************************/

/* Tab styles adopted from filepicker style */


/* Tab title background */
.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label,
.yui3-skin-sam .yui3-tabview-content .yui3-tab-selected .yui3-tab-label {
    background-image: none;
    border: 1px solid #a3a3a3;
    border-bottom: 0;
}

.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label,
.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label:focus,
.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ccc));
    background: -moz-linear-gradient(top, white, #ccc);
    background: linear-gradient(to bottom, white, #ccc);
}

.yui3-skin-sam .yui3-tabview-content .yui3-tab-selected .yui3-tab-label,
.yui3-skin-sam .yui3-tabview-content .yui3-tab-selected .yui3-tab-label:focus,
.yui3-skin-sam .yui3-tabview-content .yui3-tab-selected .yui3-tab-label:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#666));
    background: -moz-linear-gradient(top, #aaa, #666);
    background: linear-gradient(to bottom, #aaa, #666);
}


/* Tab title rounded corners */
.yui3-skin-sam .yui3-tabview-content .yui3-tab:first-child .yui3-tab-label {
    border-radius: 5px 0 0 0;
}

.dir-rtl.yui3-skin-sam .yui3-tabview-content .yui3-tab:first-child .yui3-tab-label {
    border-radius: 0 5px 0 0;
}

.yui3-skin-sam .yui3-tabview-content .yui3-tab:last-child .yui3-tab-label {
    border-radius: 0 5px 0 0;
}

.dir-rtl.yui3-skin-sam .yui3-tabview-content .yui3-tab:last-child .yui3-tab-label {
    border-radius: 5px 0 0 0;
}

/* Tab title positioning */
.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label,
.yui3-skin-sam .yui3-tabview-content .yui3-tab-selected .yui3-tab-label {
    padding: 4px 10px;
}

.yui3-skin-sam .yui3-tabview-content .yui3-tab-selected {
    margin-bottom: 0;
}


/* Tab title group bottom corner*/
.yui3-skin-sam .yui3-tabview-content .yui3-tabview-list {
    border-bottom-width: 0;
}


/* Tab panel */
.yui3-skin-sam .yui3-tabview-content .yui3-tabview-panel {
    background-color: #f2f2f2;
    border: 1px solid #a3a3a3;
}


/* Prevent Flash of unstyled content */
.jsenabled .yui3-tabview-loading {
    display: none;
}


/* Style when JavaScript is disabled */
.filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-titlegroup {
    list-style: none;
    margin-left: 0;
}

.filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-title {
    border-right: 1px solid lightgrey;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

.dir-rtl .filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-title {
    border-left: 1px solid lightgrey;
    border-right: 0;
    float: right;
    margin-left: 10px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0;
}

.filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-title:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.dir-rtl .filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-title:last-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

.filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-textgroup {
    clear: both;
}

.filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-text:first-child {
    border-top: 1px solid lightgrey;
}

.filter-tabs-tabgroup.yui3-tabview-loading .filter-tabs-text {
    border-bottom: 1px dashed lightgrey;
    padding: 5px 0;
}


/*********************************/
/* Tab styles for Bootstrap tabs */
/*********************************/

.filter-tabs-bootstrap .tab-content {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.filter-tabs-bootstrap .nav-tabs > li {
    list-style: none;
}

.filter-tabs-bootstrap.boots-tabs .nav-tabs {
    margin-bottom: 20px;
}