{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template filter_tabs/mobileapp

    Template to display tabs using ionic component.
}}
<div class="filter-tabs-mobileapp">
    <ion-accordion-group multiple="false">
    {{# tabs }}
        <ion-accordion value="filter-tabs-tab-{{tabgroupcounter}}-{{get_key}}">
            <ion-item slot="header">
                <ion-label>{{{ get_title }}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{{ get_content }}}</div>
        </ion-accordion>
    {{/ tabs }}
    </ion-accordion-group>
</div>
